name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - '1.22'
          - '1.23'
          - '1.24'
          - '1.25'
          - '1.26'
          - 'stable'
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go }}

    - name: Build
      run: make build

    - name: Test
      run: make test

    - name: Test
      run: make coverage

    - name: Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./cover.out
        flags: unittests
        verbose: true
      if: matrix.go == '1.22'
